:root {
    --main-bg-color: rgb(204,231,232);
}
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0%;

}

body {
    height: 100%;
    background-color: var(--main-bg-color);
}

.naviwavi, .footiwooti {
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.navigation {
    display:flex;
    align-items: center;
    padding: 0%;

}

nav {
    
    box-shadow: 2px 2px 2px 2px rgb(201, 226, 233);
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    background: linear-gradient(rgb(201, 226, 233), white);
    text-align: center;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 187.5px;
    /* margin-left: 200px;  */
    transition: 0.5s ease; 
}

footer {
   
    box-shadow: 2px 2px 2px 2px rgb(201, 226, 233);
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    background: linear-gradient(white, rgb(201, 226, 233));
    text-align: center;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 187.5px;
    transition: 0.5s ease;
    position: fixed;
    bottom: 0;
    /* margin-left: 280px;
    margin-top: 65px; */
}
    
#acc {
    margin: 0 auto;
    height: 200px;
    margin-top: 4%;
    
}

#acc1 {
    height: 200px;
    
}

#acc2 {
    height: 200px;
}

#acc3 {
    height: 200px;
}



@media (min-width: 1400px ) {
    nav {
        width: 64rem;

    }
    footer{
        width: 55rem;
        align-items: center;
        justify-content: space-around;

    }
    .footiwooti{
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 1400px) {
    .footiwooti {
        justify-content: center;
        align-items: center;
    }
    nav {
        
        align-items: center;
        width: 50rem;
    }
    footer{
        width: 31rem;
        margin-top: 100px;  
    }
    
}

@media (max-width: 802px) {
    .footiwooti {
        justify-content: center;
        align-items: center;
    }
    nav {
        align-items: center;
        width: 36rem;
    }
    footer{
        width: 17rem;
         
    }
   
}

@media (max-width: 600px) {
    .footiwooti {
        justify-content: center;
        align-items: center;
    }
    nav {
        align-items: center;
        width: 28rem;
    }
    footer{
        width: 10rem;
        
    }
 
   
}

@media (max-width: 425px) {
    .footiwooti {
        justify-content: center;
        align-items: center;
    }
    nav {
        align-items: center;
        width: 23rem;
        font-size: small;
    
    }
    footer{
        width: 10rem;
        
    }

}

@media (max-width: 320px) {
    .footiwooti {
        justify-content: center;
        align-items: center;
    }
    nav {
        align-items: center;
        width: 18rem;
        font-size: small;
    
    }
    footer{
        width: 10rem;
        
    }

}

@media (max-height: 603px) {
    .footiwooti {
        justify-content: center;
        align-items: center;
    }
    nav {
        
        align-items: center;
        width: 40rem;
    }
    footer{
        width: 17rem;
        margin-top: 100px;  
    }
 
}

@media (max-height: 536px) {
    .footiwooti {
        justify-content: center;
        align-items: center;
    }
    nav {
        
        align-items: center;
        width: 28rem;
    }
    footer{
        width: 17rem;
        margin-top: 100px;  
    }
}

